@using PagedList;
@using PagedList.Mvc;

@model PagedList.IPagedList<Project2WooxTravel.Entities.Destination>
<div class="visit-country">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-heading">
                    <h2>Popüler Tur ve Seyahat Rotalarımız</h2>
                    <p>Dünyanın dört bir noktasına alanında uzman rehberler eşliğinde seyhata çıkmaya hazır mısınız?</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="items">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-12">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-5">
                                            <div class="image">
                                                <img src="@item.ImageUrl" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-7">
                                            <div class="right-content">
                                                <h4>@item.Country</h4>
                                                <span>@item.City</span>
                                                <div class="main-button">
                                                    <a href="/Default/DestinationDetail/@item.DestinationId">Tur Detaylarını Gör</a>
                                                </div>
                                                <p id="description">
                                                    @item.Description.Substring(0, 350)...
                                                    <a href="#" class="read-more"
                                                       data-full-description="@item.Description"
                                                       data-short-description="@item.Description.Substring(0, 350)">Devamını Oku</a>
                                                </p>
                                                <ul class="info">
                                                    <li><i class="fa fa-user"></i> @item.DayNight Gün - @(item.DayNight -1) Gece</li>
                                                    <li><i class="fa fa-globe"></i> @item.Price ₺</li>
                                                    <li><i class="fa fa-home"></i>@item.Capacity Kişi</li>
                                                </ul>
                                                <div class="text-button">
                                                    <a href="about.html">Rehberi Görün <i class="fa fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }



                    </div>

                    @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
                </div>

            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        var readMoreLinks = document.querySelectorAll('.read-more');


        readMoreLinks.forEach(function (link) {
            link.addEventListener('click', function (e) {
                e.preventDefault();
                var fullDescription = this.getAttribute('data-full-description');
                var descriptionElement = this.parentElement;


                descriptionElement.innerHTML = fullDescription;
            });
        });
    });
</script>