@model List<Project2WooxTravel.Entities.Message>
@{
    ViewBag.Title = "Inbox";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<div class="container">
    <div class="page-inner">

        <div class="row">
            <div class="col-md-12">


                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Gelen Mesaj Sayfası</div>
                    </div>
                    <div class="card-body">

                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Gönderici</th>
                                    <th scope="col">Konu</th>
                                    <th scope="col">Tarih</th>
                                    <th scope="col">Durum</th>
                                    <th scope="col">Mesajı Aç</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.SenderMail</td>
                                        <td>@item.Subject</td>
                                        <td>@item.SendDate.ToShortDateString()</td>
                                        <td>@item.IsRead</td>

                                        <td><button class="btn btn-secondary openModal" data-id="@item.MessageId">Mesajı Aç</button></td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                        <a href="/Admin/Message/SendMessage/" class="btn btn-primary">Yeni Mesaj Gönderin</a>
                    </div>
                </div>



            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="messageDetailModal" tabindex="-1" role="dialog" aria-labelledby="messageDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageDetailModalLabel">Mesaj Detayları</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6><b>Gönderici:</b></h6>
                <p id="senderMail"></p>
                <h6><b>Konu:</b></h6>
                <p id="subject"></p>
                <h6><b>Tarih:</b></h6>
                <p id="sendDate"></p>
                <h6><b>Mesaj:</b></h6>
                <p id="content"></p>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.openModal').click(function () {
            var messageId = $(this).data('id');

            $.ajax({
                url: '@Url.Action("GetMessageDetail", "Message")',
                type: 'GET',
                data: { id: messageId },
                success: function (data) {
                    if (data) {
                        $('#senderMail').text(data.senderMail);
                        $('#subject').text(data.subject);
                        $('#sendDate').text(data.sendDate);
                        $('#content').text(data.content);
                        $('#messageDetailModal').modal('show');
                    } else {
                        alert('Mesaj bulunamadı.');
                    }
                },
                error: function () {
                    alert('Bir hata oluştu.');
                }
            });
        });
    });
</script>